:root {
  /* Color */
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%)
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color-grayish-blue);
  font-family: 'Outfit', sans-serif;
  color: var(--color-light-gray);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 20rem;
  height: 31.25rem;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 1.25rem;
  margin: 9.375rem auto;
  gap: 0;
  flex-wrap: wrap;
}

img {
  width: 20rem;
  height: 20rem;
  border-radius: 0.625rem;
}

.description {
  padding: 0 1rem;
}

h1 {
  font-size: 1.375rem;
  font-weight: 700;
  text-align: center;
  color: var(--color-dark-blue);
  margin-top: 0;
}

p {
  font-size: 0.9375rem;
  text-align: center;
}

@media (max-width: 375px) {
  .container {
    margin: 5.3125rem auto;
  }

}